.admin {
  display: flex;
  background-color: #f8f8f8;

  .adminContainer {
    flex: 6;

    .admin-area {
      // text-align: center;
      // display: flex;
      // justify-content: space-around;
      // align-items: center;
      padding: 24px;
    }
  }
}
