.reservation {
  display: flex;
  width: 100%;
  background-color: #f8f8f8;

  .reservation-container {
    flex: 6;

    .reservation-form, .reservation-area {
      padding: 24px;

      .form {
        margin-top: 40px;

        .select-field {
          margin-bottom: 30px;
        }
      }
    }
  }
}
